<div class="container">
  <div class="row mb-4">
    <div class="col-md-8">
      <h1>My Todo Lists</h1>
    </div>
    <div class="col-md-4 text-right">
      <%= link_to "New List", new_category_path, class: "btn btn-primary" %>
    </div>
  </div>

  <% if notice %>
    <div class="alert alert-success alert-dismissible fade show">
      <%= notice %>
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
  <% end %>

  <% if alert %>
    <div class="alert alert-danger alert-dismissible fade show">
      <%= alert %>
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
  <% end %>

  <% if @categories.any? %>
    <div class="row mb-4">
      <% @categories.each do |category| %>
        <div class="col-md-4 mb-3">
          <div class="card h-100">
            <div class="card-body">
              <h5 class="card-title">
                <%= link_to category.title, category_path(category), class: "text-decoration-none" %>
              </h5>
              <p class="card-text text-muted">
                <%= pluralize(category.todos.count, 'task') %>
                <% completed_count = category.todos.where(is_completed: true).count %>
                <% if completed_count > 0 %>
                  <br><small class="text-success"><%= completed_count %> completed</small>
                <% end %>
              </p>
              <div class="btn-group btn-group-sm d-flex">
                <%= link_to "View", category_path(category), class: "btn btn-info flex-fill" %>
                <%= link_to "Edit", edit_category_path(category), class: "btn btn-warning flex-fill" %>
                <%= link_to "Delete", category_path(category), method: :delete, 
                    data: { confirm: "Delete '#{category.title}' and all its tasks?" }, 
                    class: "btn btn-danger flex-fill" %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <div class="alert alert-info text-center">
      <h4>No lists yet!</h4>
      <p>Create your first list to get started.</p>
    </div>
  <% end %>

  <div class="card">
    <div class="card-header bg-success text-white">
      <h5 class="mb-0">Quick Add Task</h5>
    </div>
    <div class="card-body">
      <%= form_for @todo, url: todos_path do |f| %>
        <div class="form-row">
          <div class="form-group col-md-6">
            <%= f.text_field :title, placeholder: "What needs to be done?", 
                class: "form-control", required: true %>
          </div>
          
          <div class="form-group col-md-3">
            <%= f.select :priority, 
                options_for_select([['Low', 'low'], ['Medium', 'medium'], ['High', 'high']]), 
                { include_blank: "Priority" }, 
                class: "form-control" %>
          </div>
          
          <div class="form-group col-md-3">
            <%= f.submit "Add Task", class: "btn btn-success btn-block" %>
          </div>
        </div>
      <% end %>
      <small class="text-muted">This will be added to "Miscellaneous" list</small>
    </div>
  </div>
</div>
